.cardEle {
    padding:10px;
    width:23%;
    height:50%;
    margin: 2px;
}
.ItemPageImageDiv{
    width: 40%;
    height: 300px;
    padding-top: 10px;
    float: left;
}

.ItemPage{
    background-color: blue
}
.ItemPageDescription{
    float: left;
    margin: auto;
    width: 50%;
    
}

@media only screen and (max-width: 600px) {
    .cardEle {
        padding:10px;
        width:48%;
        height:45%;
        margin: 2px;
    }
    .ItemPageImageDiv{
        width: 100%;
        height: 50%;
        padding-top: 10px;

    }
    .ItemPageDescription{
        
        margin: auto;
        width: 90%;
    }
    .ItemPage{
        display: block;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .cardEle {
        padding:10px;
        width:30%;
        height:50%;
        margin: 2px;
    }
    .ItemPageImageDiv{
        
        height: 300px;
        padding-top: 10px;
        
    }
    .ItemPageDescription{
        
        margin: auto;
        width: 80%;
        
    }
}



